<div>

<h1>Luis Pizzeria</h1>

<div ng-repeat="n in inventory" class="col l3">
	<div class="card">
            <div class="container"><span class="card-title">{{ n.name }}</span>
            	<div class="card-content">
            		<h3><span class="label label-info ng-binding">{{ n.qty }}</span></h3>
            	</div>
            	<div class="card-action">
	            	<a class="waves-effect waves-light btn-flat md-green white-text " ng-click="addToOrder(n.ingredients)">add
	            	</a>
            	</div>
            </div>

            
    </div>
</div>
</div>