<h1>Luis Pizzeria</h1>


<div class="row">

	<!-- MENU ITEMS -->
	<div ng-repeat="n in menu" class="col l3">
		<div class="card hoverable">
	            <div class="container"><span class="card-title">{{ n.name }}</span></div>
	            <div class="card-content">
	              <p>{{ n.ingredients.join(', ') }}</p>
	            </div>
	            <div class="card-action">
	            	<button class="btn-flat green white-text waves-effect" ng-click="addToOrder(n)">add
	            	</button>
	            </div>
	    </div>
	</div>


	<!-- SHOPPING CART -->
	<div class="col l6" style="border-left: 1px solid #000">
		<div class="row">
			<div class="col l4">
				<span class="flow-text">Subtotal</span>
			</div>
			<div class="col l4" style="padding-left:30px">
				<span class="flow-text">{{ total(cart) | number : 2}}</span>
			</div>
			<div class="col l4">
				<button class="btn blue right-align" data-target='demoModal' modal>Checkout</button>
				<!-- <a class='btn' data-target='demoModal' modal>Show Modal</a> -->
			</div>

		</div>
		<div ng-repeat="n in cart track by $index" class="col l11">
			<div class="card hoverable">
				<div class="row">
					<div class="col l6">
						<span class="flow-text">{{ n.name }}</span>
					</div>
					<div class="col l3 right" style="margin-top:20px">
						<button class="red btn-flat btn-large right waves-effect" ng-click="remove(n)">Remove</button>
					</div>
				</div>
				<div class="row">
					<div class="col l6">
						<div class="input-field">
							<input id="specialInstructions"type="text">
							<label for="specialInstructions">Special Instructions</label>
							<h3>{{ n.qty }}</h3>
						</div>
					</div>
					<div class="col l4 right">
						<h3 class="right">{{ n.price }}</h3>
						<!-- <h3 class="hide-on-large-only">{{ n.price }}</h3> -->
					</div>
				</div>
			</div>
		</div>
	</div>


</div>
<!-- Modal Structure -->
<div id="demoModal" class="modal bottom-sheet">
    <div class="modal-content">
			<div class="collection-tem">
				<button class="btn btn-small blue" data-target="newCustModal" modal>New Customer</button>
			</div>
			<div class="collection" ng-repeat="customer in customers">
				<a class="collection-item modal-action modal-close" ng-click="checkout(customer)">
					<div class="row">
						<div class="col l4">
							<span class="title black-text">{{ customer.first + " " + customer.last }}</span>
							<br>
							<h5 class="black-text">{{ customer._id }}</h5>
						</div>
					</div>
				</a>
			</div>
		</div>
</div>

<div id="newCustModal" class="modal bottom-sheet">
	<div class="modal-content">
		<form>
			<div class="row">
				<div class="input-field inline col l6">
					<input type="text" ng-model="customer.first" id="first_name">
					<label for="first_name">First</label>
				</div>
				<div class="input-field inline col l6">
					<input type="text" ng-model="customer.last" id="last_name">
					<label for="last_name">Last</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field inline col l6">
					<input type="text" ng-model="customer.address" id="address">
					<label for="address">Address</label>
				</div>
				<div class="input-field inline col l6">
					<input type="text" ng-model="customer.city" id="city">
					<label for="city">City</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field inline col l6">
					<input type="text" ng-model="customer.number" id="number">
					<label for="number">Phone Number</label>
				</div>
				<div class="input-field inline col l6">
					<button class="btn blue modal-action modal-close" ng-click="createCustomer(customer)">Create</button>
				</div>
			</div>
		</form>
	</div>
</div>
