<h1>orders screen</h1>

<div class="row">
  <div class="col l6">
    <div ng-repeat="n in activeOrders">
      <div class="card hoverable">

    						<div class="container"><span class="card-title">{{ n._id }}</span>
                	<div class="card-content">
                    <div ng-repeat="i in n.items">
                      <div class="row">
                        <div class="col l6 left-align">
                          <p>{{ i.name }}</p>

                        </div>
                        <div class="col l6 right-align">

                          <p>{{ i.price }}</p>
                        </div>
                      </div>
                    </div>
                	</div>
                	<div class="card-action">
    	            	<button class="waves-effect waves-light btn-flat green white-text" ng-click="closeOrder(n)" ng-show="n.active == true">close
    	            	</button>
                	</div>
                </div>

        </div>
    </div>
  </div>
</div>
