<aside id="left-sidebar-nav" ng-controller="SideNavCtrl">
  <ul id="slide-out" class="side-nav leftside-navigation ps-container ps-active-y" style="width: 240px;">

    <li class="bold"><a class="waves-effect waves-cyan" ng-click="openHome()">Home</a>
    </li>
    <li class="bold"><a ng-click="openMenu()" class="waves-effect waves-cyan">Menu<span class="new badge">4</span></a>
    </li>
    <li class="bold"><a ng-click="openInventory()" class="waves-effect waves-cyan">Inventory</a>
    </li>
    <li class="bold"><a ng-click="openOrders()" class="waves-effect waves-cyan">Orders</a>
    </li>
    <li class="bold"><a ng-click="openCustomers()" class="waves-effect waves-cyan">Customers</a>
    </li>


    <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 3px;"><div class="ps-scrollbar-x" style="left: 0px; width: 0px;"></div></div><div class="ps-scrollbar-y-rail" style="top: 0px; height: 718px; right: 3px;"><div class="ps-scrollbar-y" style="top: 0px; height: 396px;"></div></div>
  </ul>
            <a data-activates="slide-out" class="sidebar-collapse btn-floating btn-medium waves-effect waves-light hide-on-large-only cyan"><i class="mdi-navigation-menu"></i></a>
</aside>
