<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link rel="stylesheet" href="../materialize.css">

    <title>ePos</title>
    <!-- <style type="text/css"> .red {color: #F25F5C;}</style> -->

  </head>
<body class="md-black">
<header>
  <ul id="slide-out" class="side-nav fixed leftside-navigation ps-container ps-active-y" style="width: 240px;" ng-controller="SideNavCtrl">

    <li class="bold"><a class="waves-effect waves-cyan" ng-click="openHome()">Home</a>
    </li>
    <li class="bold"><a ng-click="openMenu()" class="waves-effect waves-cyan">Menu</a>
    </li>
    <li class="bold"><a ng-click="openInventory()" class="waves-effect waves-cyan">Inventory</a>
    </li>
    <li class="bold"><a ng-click="openOrders()" class="waves-effect waves-cyan">Orders</a>
    </li>
    <li class="bold"><a ng-click="openCustomers()" class="waves-effect waves-cyan">Customers</a>
    </li>


    <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 3px;"><div class="ps-scrollbar-x" style="left: 0px; width: 0px;"></div></div><div class="ps-scrollbar-y-rail" style="top: 0px; height: 718px; right: 3px;"><div class="ps-scrollbar-y" style="top: 0px; height: 396px;"></div></div>
  </ul>
</header>

<main style="padding-left: 240px">

      <!-- <div class="container"> -->
        <ng-view></ng-view>
      <!-- </div> -->

</main>

</body>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-route.js"></script>

<script src="../app.js"></script>

<!-- Latest compiled and minified CSS -->

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>



</html>
<!-- <div ng-controller="LoginCtrl">
          <button type="button" ng-click="login()">test...</button>
        </div>

        <div ng-controller="HomeCtrl">
          <h1>{{ user.name }}</h1>
          <h2>{{ user.password }}</h2>
          <button type="button" ng-click="authUser()">GET</button>
          <button type="button" ng-click="openInventory()">TEST UI ROUTER</button>
        </div>

        <ng-view>

        </ng-view> -->
